.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba($color: #fff, $alpha: 0.8);

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    position: absolute;
    width: 450px;
    height: 286px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #ffffff;
    box-shadow: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
    border-radius: 16px;

    .header {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.02em;
      color: #000000;
    }

    .inputContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;

      .inputLabel {
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #000000;
      }

      .inputFrame {
        width: 100%;
        height: 51px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 16px;

        border: 1px solid #d7dde9;
        border-radius: 8px;

        input {
          width: 100%;
          font-style: normal;
          font-weight: 400;

          line-height: 19px;
          letter-spacing: -0.02em;
          color: rgba(0, 0, 0, 0.56);
          border: none;
          outline: none;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .cancelButton,
      .addButton {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 185px;
        height: 51px;
        border-radius: 8px;
        font-family: "Inter Tight", sans-serif;
        font-style: normal;
        font-weight: 400;

        letter-spacing: -0.02em;
        transition: background 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
      }

      .cancelButton {
        background: #e7eefb;
        color: #000000;

        &:hover {
          background-color: #cbd4e6;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
      }

      .addButton {
        background: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
        color: #fff;
        font-weight: 500;

        &:hover {
          background: linear-gradient(90deg, #0796d3 0%, #0796d3 100%);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }
}

@media (width <= 768px) {
  .container {
    padding: 0;

    .modal {
      width: 100%;
      max-width: 450px;
      height: 100%;
      justify-content: flex-start;

      .buttons {
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .cancelButton,
        .addButton {
          width: 100%;
        }
      }
    }
  }
}
